/* Until Tablet */


@media screen and (min-width: 768px) and (max-width: 1023px) {
 

  /* .......................   Slidebar   ............................ */


  .sidebar {
    width:18% !important;
    overflow: auto !important;
  }

  .sidebar h2 {
    font-size: 70% !important;
  }
 
  .sidebar h3 {
    font-size: 70% !important;
  }

  .sidebar a {
    font-size: 60% !important;
  }
   

  /* .......................   Formbox   ................................... */


  .form-box {
    width: 78% !important;
    background-color: #dfdfdf;
    

   
  }

  .form-box {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    
  }




  /* ......................   formbox1   ..................................... */

  #myChart {
    width:100% !important;
    height: 80% !important;
  }

  .form-box1 h1 {
    text-align: center; /* Centers the text horizontally */
    width: 100%; /* Ensures the h1 takes up the full width of its container */
  }

  .form-box1 {
  
    display:flex !important;
    flex-direction: column !important;
    align-content: flex-start !important;
    align-items: center !important;

  }

  .form-box1 {

    width: 100% !important;
    margin-left:135px;
    height: 200px !important;
    padding-bottom: 0px ;
    margin-left: 0.1px !important; 
    margin-top: 4% !important;
    margin-right: 5% !important;
  }

  .form-box1 h1 {
    font-size: 90% !important;
    align-content: center !important;
   
  }

 

  /* ......................   formbox2   ..................................... 03336666809]\
  ''
  */

  .form-box2 {
    width: 200px !important;
  }

  .form-box2 h1 {
    font-size: 90% !important;
    padding: 0px;
    margin: 0px !important;
    align-content: center !important;
  }

  .form-box2 h1 {
    text-align: center; /* Centers the text horizontally */
    width: 100%; /* Ensures the h1 takes up the full width of its container */
  }

  #pi-chart {
    width: 100% !important;
    height: 100% !important;
  }  
}

/* Until Tablet */

/* Until Mobile */

@media screen and (max-width: 767px) {



  /* .......................   Slidebar   ............................ */


  .sidebar {
    width:18% !important;
    overflow: auto !important;
  }

  .sidebar h2 {
    font-size: 70% !important;
  }
 
  .sidebar h3 {
    font-size: 70% !important;
  }

  .sidebar a {
    font-size: 60% !important;
  }
   

  /* .......................   Formbox   ................................... */


  .form-box {
    width: 78% !important;
    background-color: #dfdfdf;
    

   
  }

  .form-box {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }




  /* ......................   formbox1   ..................................... */

  #myChart {
    width:100% !important;
    height: 100% !important;
  }

  .form-box1 h1 {
    text-align: center; /* Centers the text horizontally */
    width: 100%; /* Ensures the h1 takes up the full width of its container */
  }

  .form-box1 {
  
    display:flex !important;
    flex-direction: column !important;
    align-content: flex-start !important;
  }

  .form-box1 {

    width: 100% !important;
    margin-left:135px;
    height: 200px !important;
    padding-bottom: 30px ;
    margin-left: 0.1px !important; 
    margin-right: 0.1px !important;
  }

  .form-box1 h1 {
    font-size: 90% !important;
    align-content: center !important;
   
  }

  .content-left {
    display: flex !important;
    align-items: flex-start !important;
  }

  /* ......................   formbox2   ..................................... 03336666809]\
  ''
  */

  .form-box2 {
    width: 200px !important;
  }

  .form-box2 h1 {
    font-size: 90% !important;
    padding: 0px;
    margin: 0px !important;
    align-content: center !important;
  }

  .form-box2 h1 {
    text-align: center; /* Centers the text horizontally */
    width: 100%; /* Ensures the h1 takes up the full width of its container */
  }

  #pi-chart {
    width: 100% !important;
  }  
 
}

